USE [QLVT]
GO
/****** Object:  StoredProcedure [dbo].[SP_CHANGE_BRANCH]    Script Date: 6/8/2023 17:58:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_CHANGE_BRANCH] @MANV INT, @MACN NCHAR(10)
AS
	SET XACT_ABORT ON
	BEGIN DISTRIBUTED TRANSACTION
	SELECT * INTO #STAFF FROM NHANVIEN WHERE MANV = @MANV
	UPDATE NHANVIEN
	SET TRANGTHAIXOA = 'True'
	WHERE MANV = @MANV

	IF(EXISTS(SELECT 1 FROM LINK1.QLVT.DBO.NHANVIEN WHERE SOCMND = (SELECT SOCMND FROM #STAFF)))
	BEGIN
		UPDATE LINK1.QLVT.DBO.NHANVIEN
		SET TRANGTHAIXOA = 'False'
		WHERE SOCMND = (SELECT SOCMND FROM #STAFF)
	END
	ELSE
	BEGIN
		UPDATE #STAFF
		SET MANV = (SELECT MAX(MANV) FROM LINK2.QLVT.DBO.NHANVIEN) + 1, MACN = @MACN

		INSERT INTO LINK1.QLVT.DBO.NHANVIEN
		SELECT * FROM #STAFF
	END
	COMMIT TRANSACTION
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECK_EXIST_CARD_CODE]    Script Date: 6/8/2023 17:58:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_CHECK_EXIST_CARD_CODE] @MAPHIEU NCHAR(8), @LOAI CHAR
AS
	IF(@LOAI = 'N')
		SELECT 1 AS RESULT WHERE EXISTS(SELECT 1 FROM PHIEUNHAP WHERE MAPN = @MAPHIEU)
							  OR EXISTS(SELECT 1 FROM LINK1.QLVT.DBO.PHIEUNHAP WHERE MAPN = @MAPHIEU)
	ELSE IF(@LOAI = 'X')
		SELECT 1 AS RESULT WHERE EXISTS(SELECT 1 FROM PHIEUXUAT WHERE MAPX = @MAPHIEU)
							  OR EXISTS(SELECT 1 FROM LINK1.QLVT.DBO.PHIEUXUAT WHERE MAPX = @MAPHIEU)
	ELSE
		SELECT 1 AS RESULT WHERE EXISTS(SELECT 1 FROM DATHANG WHERE MASODDH = @MAPHIEU)
							  OR EXISTS(SELECT 1 FROM LINK1.QLVT.DBO.DATHANG WHERE MASODDH = @MAPHIEU)
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECK_EXIST_DEPOT_CODE]    Script Date: 6/8/2023 17:58:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_CHECK_EXIST_DEPOT_CODE] @MAKHO NCHAR(4)
AS
	SELECT 1 AS RESULT WHERE EXISTS(SELECT 1 FROM KHO WHERE MAKHO = @MAKHO)
						  OR EXISTS(SELECT 1 FROM LINK2.QLVT.DBO.KHO WHERE MAKHO = @MAKHO)
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECK_EXIST_DEPOT_NAME]    Script Date: 6/8/2023 17:58:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_CHECK_EXIST_DEPOT_NAME] @TENKHO NVARCHAR(30)
AS
	SELECT 1 AS RESULT WHERE EXISTS(SELECT 1 FROM KHO WHERE TENKHO = @TENKHO)
						  OR EXISTS(SELECT 1 FROM LINK2.QLVT.DBO.KHO WHERE TENKHO = @TENKHO)
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECK_EXIST_ID_CARD]    Script Date: 6/8/2023 17:58:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_CHECK_EXIST_ID_CARD] @CMND NVARCHAR(20)
AS
	SELECT 1 AS RESULT WHERE EXISTS(SELECT 1 FROM NHANVIEN WHERE SOCMND = @CMND)
						  OR EXISTS(SELECT 1 FROM LINK2.QLVT.DBO.NHANVIEN WHERE SOCMND = @CMND)
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECK_EXIST_STAFF_CODE]    Script Date: 6/8/2023 17:58:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_CHECK_EXIST_STAFF_CODE] @MANV INT
AS
	SELECT 1 AS RESULT WHERE EXISTS(SELECT 1 FROM NHANVIEN WHERE MANV = @MANV)
						  OR EXISTS(SELECT 1 FROM LINK2.QLVT.DBO.NHANVIEN WHERE MANV = @MANV)
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECK_HAS_IMPORT_CARD]    Script Date: 6/8/2023 17:58:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_CHECK_HAS_IMPORT_CARD] @MASODDH NCHAR(8)
AS
	SELECT 1 AS RESULT FROM PHIEUNHAP WHERE MASODDH = @MASODDH
GO
/****** Object:  StoredProcedure [dbo].[SP_ALTER_ACCOUNT]    Script Date: 6/8/2023 17:58:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_ALTER_ACCOUNT] @LOGINNAME VARCHAR(50), @PASSWORD VARCHAR(50), @USERNAME VARCHAR(50), @ROLE VARCHAR(50)
AS
	DECLARE @RESULT INT
	EXEC @RESULT = sp_addlogin @LOGINNAME, @PASSWORD, 'QLVT'
	IF (@RESULT = 1)
	BEGIN
		RAISERROR(N'Tên đăng nhập đã tồn tại!', 16, 1)
		RETURN
	END

	EXEC @RESULT = sp_grantdbaccess @LOGINNAME, @USERNAME
	/* IF (@RESULT = 1)
	BEGIN
		EXEC sp_droplogin @LOGINNAME
		RAISERROR(N'Nhân viên này đã có tài khoản!', 16, 1)
		RETURN
	END */

	EXEC sp_addrolemember @ROLE, @USERNAME
	IF (@ROLE = 'CONGTY' OR @ROLE = 'CHINHANH')
		EXEC sp_addsrvrolemember @LOGINNAME, 'securityadmin'
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_ACTIVITY_STAFF]    Script Date: 6/8/2023 17:58:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_GET_ACTIVITY_STAFF] @MANV INT, @DATEFROM DATE, @DATETO DATE
AS
	SELECT FORMAT(NGAY, 'MM/yyyy') AS THANGNAM, NGAY, PN.MAPN AS SOPHIEU, 'N' AS LOAI, NHACC AS KHACHHANG, TENVT, SOLUONG, DONGIA
	FROM (SELECT MAPN, MASODDH, NGAY FROM PHIEUNHAP WHERE MANV = @MANV AND NGAY BETWEEN @DATEFROM AND @DATETO) PN,
		 (SELECT MAPN, MAVT, SOLUONG, DONGIA FROM CTPN) CT,
		 (SELECT MASODDH, NHACC FROM DATHANG) DH,
		 (SELECT MAVT, TENVT FROM VATTU) VT
	WHERE PN.MASODDH = DH.MASODDH AND PN.MAPN = CT.MAPN AND CT.MAVT = VT.MAVT
	UNION
	SELECT FORMAT(NGAY, 'MM/yyyy') AS THANGNAM, NGAY, PX.MAPX AS SOPHIEU, 'X' AS LOAI, HOTENKH AS KHACHHANG, TENVT, SOLUONG, DONGIA
	FROM (SELECT MAPX, NGAY, HOTENKH FROM PHIEUXUAT WHERE MANV = @MANV AND NGAY BETWEEN @DATEFROM AND @DATETO) PX,
		 (SELECT MAPX, MAVT, SOLUONG, DONGIA FROM CTPX) CT,
		 (SELECT MAVT, TENVT FROM VATTU) VT
	WHERE PX.MAPX = CT.MAPX AND CT.MAVT = VT.MAVT
	ORDER BY NGAY DESC
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_IMPORTED_EXPORTED_SUMMARY]    Script Date: 6/8/2023 17:58:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_GET_IMPORTED_EXPORTED_SUMMARY] @DATEFROM DATE, @DATETO DATE
AS
	SELECT ISNULL(TONGNHAP.NGAY, TONGXUAT.NGAY) AS NGAY, ISNULL(TONGTIENNHAP, 0) AS NHAP, ISNULL(TONGTIENXUAT, 0) AS XUAT
	FROM (SELECT NGAY, SUM(SOLUONG * DONGIA) AS TONGTIENNHAP
		  FROM (SELECT MAPN, NGAY FROM PHIEUNHAP WHERE NGAY BETWEEN @DATEFROM AND @DATETO) PN,
			   (SELECT MAPN, SOLUONG, DONGIA FROM CTPN) CT
		  WHERE PN.MAPN = CT.MAPN
		  GROUP BY NGAY) TONGNHAP FULL OUTER JOIN
		 (SELECT NGAY, SUM(SOLUONG * DONGIA) AS TONGTIENXUAT
		  FROM (SELECT MAPX, NGAY FROM PHIEUXUAT WHERE NGAY BETWEEN @DATEFROM AND @DATETO) PX,
			   (SELECT MAPX, SOLUONG, DONGIA FROM CTPX) CT
		  WHERE PX.MAPX = CT.MAPX
		  GROUP BY NGAY) TONGXUAT ON TONGNHAP.NGAY = TONGXUAT.NGAY
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_IMPORTED_OR_EXPORTED_GOODS]    Script Date: 6/8/2023 17:58:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_GET_IMPORTED_OR_EXPORTED_GOODS] @TYPE CHAR, @DATEFROM DATE, @DATETO DATE
AS
	IF(@TYPE = 'N')
	BEGIN
		SELECT THANGNAM, TENVT, SUM(SOLUONG) AS TONGSOLUONG, SUM(TRIGIA) AS TONGTRIGIA
		FROM (SELECT MAPN, FORMAT(NGAY, 'MM/yyyy') AS THANGNAM FROM PHIEUNHAP WHERE NGAY BETWEEN @DATEFROM AND @DATETO) PN,
			 (SELECT MAPN, MAVT, SOLUONG, SOLUONG * DONGIA AS TRIGIA FROM CTPN) CT,
			 (SELECT MAVT, TENVT FROM VATTU) VT
		WHERE PN.MAPN = CT.MAPN AND CT.MAVT = VT.MAVT
		GROUP BY THANGNAM, TENVT
	END
	ELSE
	BEGIN
		SELECT THANGNAM, TENVT, SUM(SOLUONG) AS TONGSOLUONG, SUM(TRIGIA) AS TONGTRIGIA
		FROM (SELECT MAPX, FORMAT(NGAY, 'MM/yyyy') AS THANGNAM FROM PHIEUXUAT WHERE NGAY BETWEEN @DATEFROM AND @DATETO) PX,
			 (SELECT MAPX, MAVT, SOLUONG, SOLUONG * DONGIA AS TRIGIA FROM CTPX) CT,
			 (SELECT MAVT, TENVT FROM VATTU) VT
		WHERE PX.MAPX = CT.MAPX AND CT.MAVT = VT.MAVT
		GROUP BY THANGNAM, TENVT
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_IMPORTED_OR_EXPORTED_GOODS_PARALLEL]    Script Date: 6/8/2023 17:58:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_GET_IMPORTED_OR_EXPORTED_GOODS_PARALLEL] @ROLE VARCHAR(50), @TYPE CHAR, @DATEFROM DATE, @DATETO DATE
AS
	DECLARE @STATISTIC_1 TABLE(THANGNAM VARCHAR(7), TENVT NVARCHAR(30), TONGSOLUONG INT, TONGTRIGIA FLOAT)
	INSERT INTO @STATISTIC_1
	EXEC SP_GET_IMPORTED_OR_EXPORTED_GOODS @TYPE, @DATEFROM, @DATETO

	IF(@ROLE = 'CONGTY')
	BEGIN
		DECLARE @STATISTIC_2 TABLE(THANGNAM VARCHAR(7), TENVT NVARCHAR(30), TONGSOLUONG INT, TONGTRIGIA FLOAT)
		INSERT INTO @STATISTIC_2
		EXEC LINK1.QLVT.DBO.SP_GET_IMPORTED_OR_EXPORTED_GOODS @TYPE, @DATEFROM, @DATETO

		MERGE INTO @STATISTIC_1 S1 USING @STATISTIC_2 S2 ON S1.THANGNAM = S2.THANGNAM AND S1.TENVT = S2.TENVT
		WHEN MATCHED THEN UPDATE SET S1.TONGSOLUONG = S1.TONGSOLUONG + S2.TONGSOLUONG, S1.TONGTRIGIA = S1.TONGTRIGIA + S2.TONGTRIGIA
		WHEN NOT MATCHED THEN INSERT VALUES(S2.THANGNAM, S2.TENVT, S2.TONGSOLUONG, S2.TONGTRIGIA);
	END

	SELECT * FROM @STATISTIC_1 ORDER BY SUBSTRING(THANGNAM, 4, 4) DESC, SUBSTRING(THANGNAM, 1, 2) DESC
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_INFORMATION_STAFF]    Script Date: 6/8/2023 17:58:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_GET_INFORMATION_STAFF] @LOGIN_NAME NVARCHAR(50)
AS
	DECLARE @USER_NAME NVARCHAR(50)
	SELECT @USER_NAME = name FROM sys.sysusers WHERE sid = SUSER_SID(@LOGIN_NAME)

	IF(ISNUMERIC(@USER_NAME) = 1)
	BEGIN
		SELECT @USER_NAME AS MANV, (SELECT HO + ' ' + TEN FROM NHANVIEN WHERE MANV = @USER_NAME AND TRANGTHAIXOA = 'False') AS HOTEN, name AS TENNHOM
		FROM sys.sysusers
		WHERE uid = (SELECT groupuid FROM sys.sysmembers WHERE memberuid = (SELECT uid FROM sys.sysusers WHERE name = @USER_NAME))
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_ORDERED_GOODS]    Script Date: 6/8/2023 17:58:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_GET_ORDERED_GOODS] @MAPN NCHAR(8)
AS
	DECLARE @MASODDH NCHAR(8)
	SELECT @MASODDH = MASODDH FROM PHIEUNHAP WHERE MAPN = @MAPN

	SELECT VT.MAVT, TENVT, SOLUONG
	FROM (SELECT MAVT, SOLUONG FROM CTDDH
		  WHERE MASODDH = @MASODDH AND MAVT <> ALL(SELECT MAVT FROM CTPN WHERE MAPN = @MAPN)) CT,
		 (SELECT MAVT, TENVT FROM VATTU) VT
	WHERE VT.MAVT = CT.MAVT
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_UNIMPORTED_ORDERS_PARALLEL]    Script Date: 6/8/2023 17:58:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_GET_UNIMPORTED_ORDERS_PARALLEL] @ROLE VARCHAR(50)
AS
	SELECT * INTO #TEMP
	FROM (SELECT * FROM V_GET_UNIMPORTED_ORDERS) RESULT

	IF(@ROLE = 'CONGTY')
	BEGIN
		INSERT INTO #TEMP
		SELECT * FROM LINK1.QLVT.DBO.V_GET_UNIMPORTED_ORDERS
	END

	SELECT * FROM #TEMP
GO
/****** Object:  StoredProcedure [dbo].[SP_REMOVE_ACCOUNT]    Script Date: 6/8/2023 17:58:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_REMOVE_ACCOUNT] @LOGIN_NAME VARCHAR(50), @USER_NAME VARCHAR(50)
AS
	IF (NOT EXISTS(SELECT 1 FROM sys.sysusers WHERE sid = SUSER_SID(@LOGIN_NAME) AND name = @USER_NAME))
	BEGIN
		RAISERROR(N'Tài khoản không tồn tại!', 16, 1)
		RETURN
	END

	DECLARE @RESULT INT
	EXEC @RESULT = sp_droplogin @LOGIN_NAME
	IF(@RESULT = 1)
	BEGIN
		DECLARE @ERROR NVARCHAR(2000)
		SELECT @ERROR = N'Lỗi thực thi: ' + ERROR_MESSAGE()
		RAISERROR(@ERROR, 16, 1)
		RETURN
	END

	EXEC sp_dropuser @USER_NAME
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_INVENTORY]    Script Date: 6/8/2023 17:58:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_UPDATE_INVENTORY] @MAVT NCHAR(4), @SOLUONG INT
AS
	UPDATE VATTU
	SET SOLUONGTON = SOLUONGTON + @SOLUONG
	WHERE MAVT = @MAVT
GO
